apiVersion: apps/v1
kind: Deployment
metadata:
  name: my-node-app
spec:
  replicas: 2
  selector:
    matchLabels:
      app: my-node-app
  template:
    metadata:
      labels:
        app: my-node-app
    spec:
      containers:
      - name: my-node-app
        image: amolchoorappady/my-node-app:dfbda8f45b7b693dd24df3f8e3f341f97217b7db
        ports:
        - containerPort: 3000
